.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-studio {
  color: #2e2f42;
}

.nav-list {
  display: none;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.open-menu-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
}

/* Mobile Menu */
.mob-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.close-button-mob {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
  margin-top: 24px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}

.mob-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
}

.mob-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-address-link:hover,
.mob-menu-address-link:focus {
  color: #4d5ae5;
}

.mob-menu-socials-list {
  display: flex;
  margin-top: auto;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .web-logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-underline {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link-underline::after {
    content: "";
    display: block;
    width: 100%;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    height: 4px;
  }

  .address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .open-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .web-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
  }
}
