.first-section {
  background-color: #2e2f42;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bg-mob@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .first-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/bg-mob@2x.jpg);
  }
}

.main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 72px;
  max-width: 216px;
}

.button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .first-section {
    max-width: 768px;
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/bg-tab@1x.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .first-section {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg-tab@2x.jpg);
    }
  }

  .first-section .main-header {
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .first-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/bg-desc@1x.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .first-section {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg-desc@2x.jpg);
    }
  }

  .first-section .main-header {
    padding-bottom: 48px;
  }
}
